<div style="background-image: url('../../assets/bg-image.jpg'); ">
    <div class="breadcumb-div ">
        <div class="menu-btn">
        </div>
        <div aria-label="breadcrumb fullwidth">
            <ol class="breadcrumb ">
                <i class="mx-1 bi bi-house-door"></i>
                <li class=" breadcrumb-item active" aria-current="page"> > <a href="HMRC">Benefits and Taxes</a> > <a href="home page">HMRC Compliance</a>><a href="home page">HMRC Compliance</a>><a href="home page">Initiate Request</a></li>
            </ol>
        </div>
    </div>
    <div class="container">
        <div class="card shadow">
            <div class="card-header p-0 px-5 py-2 bg-blue text-white">
                <h5> Associate Details</h5>
            </div>
            <div class="flex-box justify-congit tent-between">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Role</th>
                            <th scope="col">Employment Status</th>
                            <th scope="col">Base Country</th>
                            <th scope="col">Current Country</th>
                            <th scope="col">Base Branch</th>
                            <th scope="col">Current Branch</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>BPO Team Lead,BFS</td>
                            <td>Active Assignment</td>
                            <td>INDIA</td>
                            <td>UNITED KINGDOM</td>
                            <td>TCS-New Delhi</td>
                            <td>TCS-London</td>
                            <td id="View_Details"><a href="#">View Details</a></td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
    <!-- <div><div id="astrk">#Mandatory fields are marked with asterik(*)</div> -->
    <div class="container my-5">
        <div class="card shadow">
            <div class="card-header p-0 px-5 py-2 bg-blue text-white">
                <h6>#Mandatory fields are marked with asterik(*)</h6>
                <div id="GBP">*All amounts should be enter in GBP</div>
               
            </div>
        </div>
    </div>    
        <div class="container ">
            <div class="panel panel-primary">
                <div class="card-header p-0 px-5 py-2 bg-blue text-white">
                       Travel Expense Details
                </div>
                <div class="panel-body">
                    <form>
                       <div>
                            <label class="col-lg-4">Mode of transport</label>
                            <div class="col-lg-6">
                                    <select name="bus" id="mode_of_transport" class="input_field">
                                        <option value="Bus">Bus</option>
                                        <option value="Train">Train</option>
                                        <option value="Flight">Flight</option>
                                        <option value="Seaways">Seaways</option>
                                    </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                
                                <label class="col-lg-4">*Expense Amount</label>
                                    <div class="col-lg-6">
                                        <input id="Eammount" type="text" class="input_field"/>
                                        <p id="eout"></p>
                                    </div>
                            </div>
                            <div>
                                <label class="col-lg-4">*Mode</label>
                                <div class="col-lg-6">
                                    <select name="weekly" id="mode_time" class="input_field">
                                        <option value="days">Days</option>
                                        <option value="weekly">Weekly</option>
                                        <option value="Months">Months</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        
                       
                        <div class="form-inline row">
                            <div class="col-sm-4 col-6 mb-4">
                                <div class="form-control d-flex flex-column">
                                    <p class="h-blue">Duration From</p> <input class="inputbox textmuted" type="date">
                                </div>
                            </div>
                            <div class="col-sm-4 col-6 mb-4">
                                <div class="form-control d-flex flex-column">
                                    <p class="h-blue">Duration To</p> <input class="inputbox textmuted " type="date">
                                </div>
                            </div>
                        </div>
                       
                    </form>
                </div>
            </div>
        </div>
     
    
    <div class="container my-5">
        <div class="card shadow">
            <div class=" card-header p-0 px-5 py-2 bg-blue text-white">
                <h5>Employee Declaration </h5>
            </div>
            <div class="borderleft">
                <P class="mx-3 my-3"> DECLARATION CUM UNDERTAKING</P>

                <p class="mx-3 my-3 "> I certify that the data provided is complete and correct to the best of my knowledge.<br>I authorise Tata Consultancy Services Ltd to verify the authenticity of the information provided. I understand my personal and financial information
                    will be stored and provided to HMRC as and when requested.<br> I understand my data may only be used to fulfil purpose directly connected with those for which they are requested. I am aware of the possibility of exercising right of
                    access, correction, cancellation, and opposition under the provisions of laws in force of this matter by application in writing.<br> I hereby declare that the above expenses are incurred by me. I am also aware that these claims are
                    approved on the basis of mutual trust and I am personally responsible to HMRC to provide the evidence in case of any scrutiny from HMRC.
                </p>
            </div>
            <div class="flex-box py-3 badge-warning">
                <div class="form-check mx-3">
                    <input class="form-check-input " type="checkbox" id="autoSizingCheck2">
                    <label class="form-check-label" for="autoSizingCheck2">
                    <span class=" text-dark">I accept that I have read the above Terms of agreement pertaining to this claim and agree to abide by the terms and conditions mentioned
                      therein.</span>
              </label>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="card shadow">
            <div class="card-header p-0 px-5 py-2 bg-blue text-white">
                <h5>Supporting Documents Upload</h5>
            </div>
            <span class="px-4 py-2"><b>Supporting Documents(File Type-* doc,” docx.” jpeg pdf,” tif* be.” xls," xlsx." ppt.* ppt.” zip." od." od. ods) (max 5 MB)
            </b></span>
            <div class="  justify-content-between flex-box mx-5 my-4 ">
                <input type="file" id="form1">
                <button class=" ml-3 btn-lg btn-primary-custom ">Upload</button>
            </div> <span class="px-4 py-2"><b>Note:in case of multiple attachments please zip and attach.
            </b></span> </div>
    </div>
    <div class="justify-content-center  pb-5 flex-box text-white ">
        <button class=" shadow ml-3 btn-lg btn-primary-custom ">Submit</button>
        <button class=" shadow ml-3 btn-lg btn-primary-custom ">Save As Draft</button>

    </div>
</div>