<!DOCTYPE html>
<html>
<head>
	<title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
 
  <div id="main">
    <div id="head">
  <h1>HMRC Compliance</h1>
<a id="back" href="#">BACK</a></div>
<div id="Adetails"><h2>Associate Details</h2>
 <div id="Atable"> 
  <table>
    <tr>
        <th>Role</th>
        <td>xxxxxx</td>
        <th>Base country</th>
        <td>xxxxxxxx</td>
        <th>Base Branch</th>
        <td>xxxxxxxx</td>
    </tr>
    <tr>
        <th>Employment Status</th>
        <td>xxxxxx</td>
        <th>Current Country</th>
        <td>xxxxxxxx</td>
        <th>Current Branch</th>
        <td>xxxxxxxx</td>
    </tr>
    <tr>
        <th></th>
        <td></td>
        <th></th>
        <td></td>
        <th></th>
        <td id="View_Details"><a href="#">View Details</a></td>
    </tr>
</table>
</div>
</div></div>
<div><div id="astrk">#Mandatory fields aremarked with asterik(*)</div>
<div id="GBP">*All amounts should be enter in GBP</div>
</div>
<div id="Tdetails">
  <p>Travel Expense Details</p>
  <div>
    <form>
      <label id="ffont" for="transport">*Mode Of Transport</label>
      <select id=select_menu name="mode of transport">
        <option value="Bus">Bus</option>
        <option value="Train">Train</option>
        <option value="Flight">Flight</option>
        <option value="Seaways">Seaways</option>
      </select><br>
      <label id="ffont" for="expense amount">*Expense Amount</label>
      <input id=text_box type="text" name="expense amount" ><br>
      <label id="ffont" for="time">*Mode</label>
      <select id=select_menu  name="weekly">
        <option value="days">Days</option>
        <option value="weekly">Weekly</option>
        <option value="Months">Months</option>
        </select><br>
        <label id="ffont" for="Duration from">*Duration From</label>
        <input type="date" id="myDate" value="2021-06-04"><span id="space_between_to" >To</span>  
        <input type="date" id="myDate" value="2014-06-04"><br>
    </form>
  </div>
</div>
<div id="decleration">
  <p>Employee Declaration</p>
  <div id="terms">
    DECLARATION CUM UNDERTAKING<br>
    I certified that the data provided is complete and correct to the best of my knowledge.<br>
    I authorise Tata Consultancy Services Ltd to verify the authenticity of the information provided. I understand my  personal and financial information will be stored and provided to HMRC as and when requested.<br>
    I understand my data may only be used to fulfil purpose directly connected with those for which they are requested. I am aware of the possibility of exercising right of access, correction, cancellation, and<br> opposition under the provision of laws in force of this matter by application in writing.<br>
    I hereby declare that the above expenses are incurred by me. I am also aware that these claims are approved on the basis of mutual trust and I am personally responsible to HMRC to provide the evidence in case of any security from HMRC.<br><br> 
    <input type="checkbox"><label for="accept">I accept that i have read the above Terms of agreement pertaining to this claim and agree to abide by the terms and conditions</label>  
  </div>
</div>
<div id="support">
  <p>Supporting Documents upload</p>
   Supporting Documents(File type *doc, *docx, *jpej,*pdf, *dif, *txt, *xls, *xlsx, *ppt, *pptx, *zip, *odr, *odp, *ods)(MAX 5MB)<br>
   <button id="choose_file_btn" onclick="myFunction()">choose file</button><div id="fname">No file choosen</div>
   <div id="upload"><button  onclick="myFunction()">upload</button>Note: In Case of multiple attachments please zip and attach</div>
</div>
<div id="submit">
  <button id="btns" onclick="myFunction()">Submit</button>
  <button id="btnsb" onclick="myFunction()">Save as Draft</button>
</div>
</body>
</html>
